# Données
data/*.csv
mlruns/
logs/

# Notebooks
.ipynb_checkpoints/
notebooks/*_out/

# Environnements / sauvegardes
.env
*.bak

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / éditeurs
.idea/
.vscode/

# Modèles & artefacts
app/artifacts/
embeddings/
azureml/

# Fichiers temporaires divers
*.log
*.tmp
